@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

html {
    overflow-y: scroll;
}

body {
    margin: 0; /* Ingen kanter i siden af browser */
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}

.coverShield{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    /*backdrop-filter: blur(5vw);*/
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.9);
}

.basketContainer{
    width: 100%;
    height: initial;
    position: absolute;
    top: 0;
    z-index: 110;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cross{
    width: 10.438vw;
    height: 10.438vw;
    border-radius: 100000px;
    border: solid 1vw #BC6A6A;
    position: absolute;
    top: 10vw;
    right: 10vw;
    transform: translate(50%, -50%);
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: 0.2s;
}

.cross:hover{
    transform: translate(50%, -50%) scale(1.20, 1.20);
    opacity: 0.8;
}

.cross > div{
    position: relative;
    width: 100%;
    height: 100%;
}

.cross > div > div{
    height: 1vw;
    width: 5vw;
    background-color: #BC6A6A;
    border-radius: 100000px;
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 50%;
}

.cross > div > div:nth-of-type(2){
    transform: translate(-50%, -50%) rotate(-45deg);
}

.basketContainer > h6{
    font-family: Raleway, sans-serif;
    font-size: 13.15vw;
    text-align: center;
    color: #707070;
    margin-top: 12vw;
    margin-bottom: 8.97vw;
}

.cartItem{
    width: 87.26vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.cartItem > img{
    width: 100%;
}

.cartItem > p{
    font-family: "Nunito", sans-serif;
    color: #991B40;
    font-size: 6.89vw;
    font-weight: bold;
}

.cartItem > .title{
    margin-top: 1.88vw;
}

.cartItem > button{
    background-color: transparent;
    border: none;
    font-family: Nunito, sans-serif;
    font-size: 4vw;
    color: #BC6A6A;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-100%);
}


.setDelivery{
    margin-top: 10vw;
    border-radius: 4vw;
    overflow: hidden;
    position: relative;
}

.basketButton{
    width: 87.26vw;
    height: 19.8vw;
    border: none;
    font-family: Nunito, sans-serif;
    color: white;
    font-size: 6.26vw;
    text-align: left;
    padding: 0 6vw;
    position: relative;
}

.setDelivery > p{
    position: absolute;
    right: 6vw;
    top: 12vw;
    z-index: 100;
    color: white;
    font-size: 4vw;
    font-weight: normal;
    font-family: Nunito, sans-serif;
    cursor: pointer;
}

.setDelivery > .basketButton{
    background-color: #D84545;
    transition: 0.2s;
}

.deliveryInformation{
    background-color: rgba(198, 220, 200, 0.61);
    padding: 0 6vw;
    display: flex;
    flex-direction: column;
}

.deliveryInformation > form{
    display: flex;
    flex-direction: column;
}

.deliveryInformation > form > label{
    font-size: 5.43vw;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    text-transform: capitalize;
    color: #4D4C4C;
    margin-bottom: 1vw;
}

.deliveryInformation > form > label:nth-of-type(1){
    margin-top: 2vw;
}

.deliveryInformation > form > input{
    height: 9vw;
    font-family: 'Raleway', sans-serif;
    border-radius: 1vw;
    border: solid 1px #707070;
    margin-bottom: 2vw;
}

.deliveryInformation > form > input:last-of-type{
    position: absolute;
    left: -100%;
}

.deliveryInformation > button{
    margin-top: 6vw;
    margin-bottom: 8vw;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #66C3EB;
    width: 32.36vw;
    border-radius: 2.5vw;
    align-self: flex-end;
    padding: 2.3vw 0;
}











