
html{

}

div{

}

h1,h2,h3,h4{
    font-family: 'Raleway', sans-serif;

    color: #777777;
}

h1{
    display: block;
    position: relative;
    top: 0;
    padding-left: 0.1em;

    font-size: 72px;
    font-weight: 800;
    margin-bottom: 0.1em;
}

h2{
    font-size: 26px;
    font-weight: 800;
}

h3{
    font-size: 20px;
    font-weight: 400;
}

h4{

}

.topPageInfoBox {
    display: block;
    position: relative;
    background: rgba(250,250,250,0.7);
    /* width: 100%; */
    max-height: 600px;
    height: 40%;
    border-radius: 15px;
    top: 2em;
    /* margin-left: 55%; */
    /* margin-right: auto; */
    padding: 2em;
}


.topPageContainer{
    position: relative;

    background-color: lightgrey;
    background-image: url("../images/forsideTopImage.jpg");
    background-size: contain;
    background-repeat: round;
    min-height: 500px;
}

.buttons{
    display: block;
    border: solid #707070 1px;
    border-radius: 12px;
    color: #fff;
    background: #BC6A6A;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 24px;

    cursor: pointer;
}

.topPageInfoBox button{
    min-height: 60px;
    min-width: 60px;
    width: fit-content;
    text-align: center;
    padding-right: 1em;
    padding-left: 1em;

    margin-left: auto;
    margin-right: auto;
}

.browseButton{
    display: block;
    margin-left: auto;
    margin-right: auto;

    min-height: 60px;
    min-width: 200px;
    width: fit-content;
    text-align: center;
    padding-right: 1em;
    padding-left: 1em;
}

#shoppingCartDiv{
    position: fixed;
    top: 2em;
    right: 2em;
    color: #BC6A6A;
}

#shoppingCartIcon{
    font-size: 60px;

    cursor: pointer;
}

.swiper-container {
    display: block;
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.swiper-slide:not(.swiper-slide-active){
    opacity: 0.25 !important;
    border: 0;
    transform: scale(0.6);
    transition: fade-in 8s cubic-bezier(0.1,0.2,0.3,0.4);
}

.swiperPage{
    border: solid black 1px;

}

.swiperPage img{
    display: block;
    min-height: 300px;
    max-height: 300px;
    max-width: 800px;
    width: available;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    object-fit: cover;
}

.swiperPage button{
    display: block;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    transform: scale(0.8);
}

div.swiper-button-prev, div.swiper-button-next{
    color: #BC6A6A;
}



.swiperPage1{
/** background: rgba(220,20,40,0.2);**/
}

.swiperPage2{
/** background: rgba(120,215,110,0.4); **/
}

.swiperPage3{
/** background: rgba(40,160,220,0.4); **/
}

.swiperPage h2{
    text-align: center;
}

.white-popup {
    position: relative;
    background: rgba(255,255,255,0.9);
    color: #BC6A6A;
    padding: 40px;
    width: auto;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.shop-popup {
    position: relative;
    background: rgba(255,255,255,0.9);
    color: #BC6A6A;
    padding: 40px;
    width: auto;
    max-width: 1280px;
    margin: 20px auto;
    text-align: center;
    min-height: 800px;
    height: available;
}

@media only screen and (min-width: 800px) {


    h1{
        display: block;
        position: relative;
        top: 0;
        padding-left: 1em;

        font-size: 72px;
        font-weight: 800;
        margin-bottom: 0.1em;
    }

    .topPageInfoBox{
        display: block;
        position: relative;
        background: rgba(250,250,250,0.7);
        width: 30%;
        max-height: 600px;
        height: 40%;

        border-radius: 15px;

        top: 2em;

        margin-left: 55%;
        margin-right: auto;
        padding: 2em;
    }

    .topPageInfoBox button{
        min-height: 60px;
        width: fit-content;
        text-align: center;
        padding-right: 1em;
        padding-left: 1em;

        margin-left: auto;
        margin-right: auto;
    }
}