* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}


#landscapes-section {
    padding: 10px;

}

.overskrift1 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    font-family: 'Raleway', sans-serif;
}


h1 {
    color: #707070;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}


.title {
    color: #707070;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    padding-left: 20px;
}

.to-sætning {
    color: black;
    font-size: 15px;
    font-family: "Arial Rounded MT";
    font-weight: bold;
    padding: 10px 0 10px 27px;
}

.lille-space-ul {
    padding: 5px 0 10px 61px;
}


.swiper-container {
    width: 300px;
    height: 100%;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    color: #ffff;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    color: #ffff;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #ffff;
}

.pic-boks.nr1 {
    background-image: url("imges/slidePIc1.jpg");
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position-x: 70%;
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 65%;
}

.prise-boks {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.prise-boks p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}


#add\ to\ cart {
    margin: 0  auto 1rem;
    display: flex;
}

.buttons {
    border: solid #707070 1px;
    border-radius: 12px;
    color: #fff;
    background: #BC6A6A;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    padding: 15px;
    cursor: pointer;
}
